# set -o allexport && source configs/.env.dev && set +o allexport

BLOCKCHAIN_RPC_URL=

# Create2Factory owner
DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=

CREATE2_FACTORY_CONTRACT_ADDRESS=

PERMIT2_CONTRACT_ADDRESS=
CPN_PAYMENT_SALT=
CPN_PAYMENT_OWNER_ADDRESS=
CPN_PAYMENT_RESCUER_ADDRESS=
CPN_PAYMENT_PAUSER_ADDRESS=
CPN_PAYMENT_CONFIGURATOR_ADDRESS=
CPN_PAYMENT_ATTESTER_COUNT=
CPN_PAYMENT_ATTESTER_0=