# set -o allexport && source configs/.env.dev && set +o allexport

BLOCKCHAIN_RPC_URL=
TOKEN_ADDRESS=

# Create2Factory owner
DEPLOYER_PRIVATE_KEY=
DEPLOYER_ADDRESS=

CREATE2_FACTORY_CONTRACT_ADDRESS=

PERMIT2_CONTRACT_ADDRESS=
CIRCLE_PAYMENT_SALT=
CIRCLE_PAYMENT_OWNER_ADDRESS=
CIRCLE_PAYMENT_RESCUER_ADDRESS=
CIRCLE_PAYMENT_PAUSER_ADDRESS=
CIRCLE_PAYMENT_CONFIGURATOR_ADDRESS=
CIRCLE_PAYMENT_ATTESTER_COUNT=
CIRCLE_PAYMENT_ATTESTER_0=
CIRCLE_PAYMENT_CONTRACT_ADDRESS=

PAYER_PRIVATE_KEY=
ATTESTER_PRIVATE_KEY=
PAYEE_ADDRESS=
BENEFICIARY_ADDRESS=